<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
    <script>
        function getAllClients() {
            const allClientsDataContainer = document.getElementById('allClientsDataContainer');
            fetch('api/clients/')
                .then(response => response.json())
                .then(clients => allClientsDataContainer.innerHTML = JSON.stringify(clients));
        }

    </script>
</head>

<body>
<h4>Сохранить клиента</h4>
<form action="api/clients/" method="post">
    <label>
        Name <br/>
        <input type="text" name="name" value="Margarita">
    </label>
    <br/>
    <label>
        Address<br/>
        <input type="text" name="address" value="Kosmonavtov avenue">
    </label>
    <br/>
    <label>
        Phones<br/>
        <input type="text" name="phones" value="+71111111111">
    </label>
    <br/><br/>
    <input type="submit" value="Сохранить">
</form>


<h4>Получить список клиентов</h4>
<button onclick="getAllClients()">Получить всех клиентов</button>
<pre id = "allClientsDataContainer"></pre>

</body>
</html>
